
/*controls the size of the image and positions it in the center of the page*/
.img {
	width: 220px;
	height: auto;
	display: inline-block;
	position: relative;
	top:-4px;
	left: -2.5%;
}

/*causes the element container to transform into the shape of a circle*/
.round {
	width: 210px;
	height: auto;
	border-radius: 50%;
	border: solid white 2px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
	overflow: hidden;
	clip-path: circle(50% at 50% 50%);
	display: inline-block;
	position: relative;
	top: 20px;
	left: 44%;
}

body {
	background-color: darkblue;
	background-image: url("https://media.istockphoto.com/photos/art-summer-vacation-ocean-beach-picture-id510152502?k=6&m=510152502&s=612x612&w=0&h=dBUs641JFQv3yCxWRnFqG23k_atj7CHu7NxoT29Z2Y4=") ;
		/*url("https://cbsnews2.cbsistatic.com/hub/i/r/2016/06/15/8a93c319-6e8b-4b5d-8661-7a803fab9a71/thumbnail/1200x630/90d34973616beff1351315f17fb56408/coffee.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
}

.center {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: auto;
	text-align: center;
}

li {
	list-style-position: inside;
	padding-bottom: 5px;
	margin-right: 25px;
	list-style: none;
}

p, li, h2 {
	color: royalblue;
}

h1 {
	color: royalblue;
	font-size: 5rem;
	text-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
}

/*Controls the line-break of the paragraph and wraps it to the next line*/
.wrap-around {
	display: inline-block;
	position: relative;
	width: 200px;
	height: auto;
	overflow-wrap: break-spaces;
	text-align: center;
}