.img {
	width: 200px;
	height: auto;
	display: inline-block;
	position: relative;
	top:20px;
	left: 44%;
	margin-bottom: 10px;
}

body {
	background-color: lightsteelblue;
	background-image: url("https://cbsnews2.cbsistatic.com/hub/i/r/2016/06/15/8a93c319-6e8b-4b5d-8661-7a803fab9a71/thumbnail/1200x630/90d34973616beff1351315f17fb56408/coffee.jpg");
	background-size: cover;
	background-repeat: none;
}

.center {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: auto;
	text-align: center;
}

li {
	list-style-position: inside;
	padding-bottom: 5px;
	margin-right: 25px;
	list-style: none;
}

p, li, h2 {
	color: whitesmoke;
}

h1 {
	color: sienna;
	font-size: 5rem;
}